{% block sw_order_list_grid_columns %}
    {% parent %}
    {% block sw_order_list_grid_columns_magnalister %}
        <template #column-magnalister="{ item }">
            <div v-for="magnalistrLogos in magnalistrLogo">
                <sw-label  v-if="magnalistrLogos.id === item.id" >
                    <img :src="magnalistrLogos.logo">
                </sw-label>
            </div>
        </template>
    {% endblock %}
{% endblock %}