<blur-section 
    gap
    padding>

    <div :style="viewStyle({
            mobile: { gridColumnEnd: 'span 12' },
        })">
        <mt-switch 
            class="blur-switch-input"
            :checked="navigationConfig.active" 
            :label="$tc('blurElysiumSlider.config.navigation.active')" 
            @change="navigationConfig.active = $event"/>
    </div>
    
    <blur-select-input 
        :style="viewStyle({
            mobile: { gridColumnEnd: 'span 12' },
            desktop: { gridColumnEnd: 'span 6' },
        })"
        :label="$tc('blurElysiumSlider.config.navigation.position.label')"
        :options="positions"
        v-model:value="navigationConfig.position" />

    <blur-select-input 
        :style="viewStyle({
            mobile: { gridColumnEnd: 'span 12' },
            desktop: { gridColumnEnd: 'span 6' },
        })"
        :label="$tc('blurElysiumSlider.config.navigation.align.label')"
        :options="aligns"
        v-model:value="navigationConfig.align" />

</blur-section>

<blur-section 
    :title="$tc('blurElysium.general.appearance')"
    gap
    padding>

    <blur-select-input 
        :style="viewStyle({
            mobile: { gridColumnEnd: 'span 12' },
            desktop: { gridColumnEnd: 'span 6' },
        })"
        :label="$tc('blurElysiumSlider.config.navigation.shape.label')"
        :options="shapes"
        v-model:value="navigationConfig.shape" />

    <blur-select-input 
        :style="viewStyle({
            mobile: { gridColumnEnd: 'span 12' },
            desktop: { gridColumnEnd: 'span 6' },
        })"
        :label="$tc('blurElysiumSlider.config.navigation.size.label')"
        :placeholder="viewportsPlaceholder('navigation.size', 'md', 'blurElysium.general')"
        :options="sizes"
        :show-device="true"
        :device="device"
        @on-device="cmsDeviceSwitch"
        v-model:value="navigationViewportConfig.size" />

    <blur-number-input 
        :style="viewStyle({
            mobile: { gridColumnEnd: 'span 12' },
            desktop: { gridColumnEnd: 'span 4' },
        })"
        :model-value="navigationViewportConfig.gap"
        @update-value="value => navigationViewportConfig.gap = value"
        :label="$tc('blurElysiumSlider.config.navigation.navPadding.label')"
        :placeholder="viewportsPlaceholder('navigation.gap', 16)"
        :show-device="true"
        :device="device"
        @on-device="cmsDeviceSwitch" />

    <blur-colorpicker
        :style="viewStyle({
            mobile: { gridColumnEnd: 'span 12' },
            desktop: { gridColumnEnd: 'span 4' },
        })"
        :label="$tc('blurElysium.general.color')"
        v-model:value="navigationConfig.colors.default"
        colorOutput="auto"
        :alpha="true"
        :disabled="false"
        :colorLabels="true"
        :zIndex="1010" />

    <blur-colorpicker
        :style="viewStyle({
            mobile: { gridColumnEnd: 'span 12' },
            desktop: { gridColumnEnd: 'span 4' },
        })"
        :label="$tc('blurElysium.general.colorActive')"
        v-model:value="navigationConfig.colors.active"
        colorOutput="auto"
        :alpha="true"
        :disabled="false"
        :colorLabels="true"
        :zIndex="1010" />

</blur-section>