{% block block_blur_elysium_slider %}

    {% block block_blur_elysium_slider_main_slot %}
        {% set element = block.slots.getSlot('main') %}

        <div class="blur-elysium-block slider-block" data-cms-element-id="{{ element.id }}">
            {% block block_blur_elysium_slider_main_slot_incldue %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}