<div class="cms-block-blur-elysium-banner-preview">
    <img :src="assetFilter('/blurelysiumslider/static/img/cms-banner-element-preview.svg')"
        :style="{
            width: '100%'
        }">
</div>