{# ThemeWare® CMS block "Breadcrumb" #}

{% block block_twt_breadcrumb %}
	{% set element = block.slots.getSlot('content') %}
	{% set id = element.id %}

	<div class="col-12" data-cms-element-id="{{ id }}">
		{% block block_twt_breadcrumb_inner %}
			{% sw_include '@Storefront/storefront/element/cms-element-' ~ element.type ~ '.html.twig' ignore missing %}
		{% endblock %}
	</div>
{% endblock %}