{# ThemeWare® CMS block "Hero countdown" #}

{% block block_twt_hero_countdown %}
    {% set columns = 1 %}

    {% block block_twt_hero_countdown_image %}
        {% set element = block.slots.getSlot('image') %}
        
        <div class="col-12" data-cms-element-id="{{ element.id }}">
            {% block block_twt_hero_countdown_image_inner %}
                {% sw_include '@Storefront/storefront/element/cms-element-' ~ element.type ~ '.html.twig' ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_twt_hero_countdown_counter %}
        {% set element = block.slots.getSlot('counter') %}

        <div class="col-12" data-cms-element-id="{{ element.id }}">
            {% block block_twt_hero_countdown_counter_inner %}
                {% sw_include '@Storefront/storefront/element/cms-element-' ~ element.type ~ '.html.twig' ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}