{# ThemeWare: CMS block "Two columns 7-5 (swapped)" [Cloud] #}

{% block block_twt_grid_two_column_7_5_swapped_component %}
    {% set columns = 2 %}

    {% block block_twt_grid_two_column_7_5_swapped_component_left %}
        {% set element = block.slots.getSlot('left') %}

        <div class="column-1 col-12 col-md-7 order-2 order-md-1 twt-column twt-col-component left first">
            {% block block_twt_grid_two_column_7_5_swapped_component_left_inner %}
                {% sw_include '@Storefront/storefront/element/cms-element-' ~ element.type ~ '.html.twig' ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_twt_grid_two_column_7_5_swapped_component_right %}
        {% set element = block.slots.getSlot('right') %}

        <div class="column-2 col-12 col-md-5 order-1 order-md-2 twt-column twt-col-component right last">
            {% block block_twt_grid_two_column_7_5_swapped_component_right_inner %}
                {% sw_include '@Storefront/storefront/element/cms-element-' ~ element.type ~ '.html.twig' ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}

{% endblock %}
