{% block swag_amazon_pay_settings_icon %}
    <div class="swag-amazon-pay-settings-icon">
        <img class="sw-settings-index__amazon-pay-icon" :src="assetFilter('swagamazonpay/static/img/plugin.svg')">
    </div>
{% endblock %}
