{% block sw_media_quickinfo_usage_loader %}
    {% parent %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block blur_media_quickinfo_usage_list %}
        <ul
            v-else-if="getElysiumSlidesUsages.length > 0 || elysiumSlidesUsageCollection.total > 0"
            class="sw-media-quickinfo-usage__list"
        >
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block blur_media_quickinfo_usage_item %}
            <router-link
                v-for="usage in getElysiumSlidesUsages"
                :key="usage.link.id"
                :to="{ name: usage.link.name, params: { id: usage.link.id } }"
                :target="routerLinkTarget"
            >
                <li
                    v-tooltip="{
                        showDelay: 300,
                        hideDelay: 5,
                        message: usage.tooltip
                    }"
                    class="sw-media-quickinfo-usage__item"
                >
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block blur_media_quickinfo_usage_item_icon %}
                    <div class="sw-media-quickinfo-usage__label">
                        <sw-icon
                            :name="usage.icon.name"
                            :color="usage.icon.color"
                            small
                        />
                    </div>
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block blur_media_quickinfo_usage_item_label %}
                    <div class="sw-media-quickinfo-usage__label">
                        {{ usage.name }}
                    </div>
                    {% endblock %}
                </li>
            </router-link>
            {% endblock %}

            {% block blur_media_quickinfo_usage_item_slide %}
                <router-link
                    v-for="slide in elysiumSlidesUsageCollection"
                    :key="slide.id"
                    :to="{ name: 'blur.elysium.slides.detail', params: { id: slide.id } }"
                    :target="routerLinkTarget"
                    :class="['blur-media-quickinfo-usage__link']"
                >
                    <li
                        class="sw-media-quickinfo-usage__item"
                    >
                        <div class="sw-media-quickinfo-usage__label">
                            <blur-elysium-icon
                                :size="16"
                                :color="elysiumIconColor"
                            />
                        </div>

                        <div class="sw-media-quickinfo-usage__label">
                            {{slide.translated.name}}
                        </div>
                    </li>
                </router-link>
            {% endblock %}
        </ul>
    {% endblock %}

    <!--
    <div v-else-if="elysiumSlidesUsageCollection && elysiumSlidesUsageCollection.total > 0">
        <router-link
            v-for="slide in elysiumSlidesUsageCollection"
            :key="slide.id"
            :to="{ name: 'blur.elysium.slides.detail', params: { id: slide.id } }"
            :target="routerLinkTarget"
        >
            <div>{{slide.translated.name}}</div>
        </router-link>
    </div>
    -->

{% endblock %}