<div>
    <sw-single-select
            v-model:value="logisticId"
            labelProperty="name"
            valueProperty="logistic_center_id"
            :options='logisticCenters'
            label='Logistic Center'
    ></sw-single-select>
</div>