{% block sw_cms_sidebar_block_overview_category_options %}
    {% parent %}

    {% block sw_cms_sidebar_block_overview_category_blur_elysium_blocks %}
        <option value="blur-elysium-blocks">
            {{ $tc('blurElysium.cmsBlockGroup') }}
        </option>
    {% endblock %}
{% endblock %}

{% block sw_cms_sidebar_block_layout_settings_content %}
    {% parent %}

    <template v-if="selectedBlock.type === 'blur-elysium-block-two-col'">
        <sw-sidebar-collapse 
            :expand-on-loading="false">

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            <template #header>
                <span v-html="$tc('blurElysiumBlock.settingLabel')" />
            </template>

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            <template #content>
                
                <blur-elysium-block-two-col-config 
                    :settings="selectedBlock.customFields" />

            </template>
        </sw-sidebar-collapse>
    </template>
{% endblock %}

<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_sidebar_layout_assignment %}
    {% parent %}

    {% block sw_cms_sidebar_blur_section_settings %}
        <sw-sidebar-item
            class="sw-cms-sidebar__elysium-section-settings"
            icon="regular-dashboard"
            :title="elysiumSectionSettingsTitle"
            :disabled="page.locked || !elysiumSectionSettingsActive">

            <blur-elysium-cms-section-settings 
                v-if="selectedSection !== null && selectedSection?.customFields?.hasOwnProperty('elysiumSectionSettings')"
                :settings="selectedSection.customFields.elysiumSectionSettings" />

            <blur-elysium-cms-section-block-settings 
                v-if="selectedBlock !== null && selectedBlock?.customFields?.hasOwnProperty('elysiumBlockSettings')"
                :settings="selectedBlock.customFields.elysiumBlockSettings" />
        </sw-sidebar-item>
    {% endblock %}
{% endblock %}

<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_sidebar_block_overview_preview %}
    <mt-banner 
        v-if="currentBlockCategory === 'blur-elysium-blocks'"
        variant="info"
        :hideIcon="true"
        class="mt-banner-small"
        :style="{
            margin: '16px 24px',
            textAlign: 'center',
        }"
    ><span v-html="$tc('blurElysiumSection.sidebar.elysiumSectionNotification')" /></mt-banner>

    {% parent %}
{% endblock %}