<mt-number-field 
    type="int"
    size="small"
    class="blur-number-input"
    :step="1"
    :min="0" 
    :placeholder="placeholder"
    :modelValue="value"
    :allowEmpty="true"
    @change="updateValue"
    @input-change="updateValue">

    <template v-if="unit !== false" #suffix>
        {{unit}}
    </template>

    <template v-if="showDevice === true" #prefix>
        <span 
            :style="{
                display: 'flex',
                alignItems: 'center',
                gap: '8px'
            }">

            <blur-icon 
                v-tooltip="{
                    message: $t('blurElysium.messages.deviceSettingNote', { device: $tc(`blurElysium.device.${device}`) })
                }"
                :size="14"
                :name="`blurph-device-${device}`" 
                :style="{
                    cursor: 'pointer'
                }"
                @click="onDeviceNote" />
        </span>
    </template>
</mt-number-field>