{% block swag_paypal_locale_field %}
<div class="swag-paypal-locale-field">

    {% block swag_paypal_locale_field_contextual_field %}
    <sw-text-field
        v-bind="$attrs"
        :value="value"
        :error="error"
        v-on="listeners"
        @update:value="checkValue"
    />
    {% endblock %}

    {% block swag_paypal_locale_field_information %}
    <p class="swag-paypal-locale-field__text">

        {% block swag_paypal_locale_field_information_text %}
        {{ $tc('swag-paypal.settingForm.locale-field.infobox.text') }}
        {% endblock %}

        {% block swag_paypal_locale_field_information_href %}
        <sw-external-link
            class="swag-paypal-locale-field__text-href"
            href="https://developer.paypal.com/docs/api/reference/locale-codes/"
        >
            {{ $tc('swag-paypal.settingForm.locale-field.infobox.href') }}
        </sw-external-link>
        {% endblock %}

    </p>
    {% endblock %}

    </div>
{% endblock %}
