{% block sm_zalando_connector_extension_settings_oderImport %}
    <div>
        <div>
{#            oder-import {{ form }}#}
            <br>
            <sm-zalando-connector-components-settings-sales-channel
                    v-model=form.salesChannelId
                    :selected=form.salesChannelId
            ></sm-zalando-connector-components-settings-sales-channel>
        </div>
        <div>
            <sw-switch-field
                    v-if="form.data"
                    type="checkbox"
                    v-model:value="form.data.active"
                    :checked="form.data.active ? 'checked' : false"
                    :label="$tc('active')"
            ></sw-switch-field>
        </div>
        <div>
            <sw-entity-single-select
                    v-if="form.data && form.data.active"
                    v-model:value="form.data.salesChannelId"
                    :value="form.data.salesChannelId"
                    entity="sales_channel"
                    :criteria="salesChannelCriteria"
                    :label="$tc('sales_channel')">
            </sw-entity-single-select>
        </div>
        <div>
            <sw-entity-single-select
                    v-if="form.data && form.data.active"
                    v-model:value="form.data.customerGroupId"
                    :value="form.data.customerGroupId"
                    entity="customer_group"
                    :label="$tc('customer_group')">
            </sw-entity-single-select>
        </div>
        <div>
            <sw-entity-single-select
                    v-if="form.data && form.data.active"
                    v-model:value="form.data.taxId"
                    :value="form.data.taxId"
                    entity="tax"
                    :label="$tc('tax')">
            </sw-entity-single-select>
        </div>
        <div>
            <sw-entity-single-select
                    v-if="form.data && form.data.active"
                    v-model:value="form.data.orderStateId"
                    :value="form.data.orderStateId"
                    entity="state_machine_state"
                    :criteria="orderStateCriteria"
                    :label="$tc('order_status')">
            </sw-entity-single-select>
        </div>
        <div>
            <sw-entity-single-select
                    v-if="form.data && form.data.active"
                    v-model:value="form.data.shippingMethodId"
                    :value="form.data.shippingMethodId"
                    entity="shipping_method"
                    :label="$tc('shipping_method')">
            </sw-entity-single-select>
        </div>
        <div>
            <sw-entity-single-select
                    v-if="form.data && form.data.active"
                    v-model:value="form.data.deliveryStateId"
                    :value="form.data.deliveryStateId"
                    entity="state_machine_state"
                    :criteria="deliveryStateCriteria"
                    :label="$tc('delivery_status')">
            </sw-entity-single-select>
        </div>
        <div>
            <sw-entity-single-select
                    v-if="form.data && form.data.active"
                    v-model:value="form.data.paymentMethodId"
                    :value="form.data.paymentMethodId"
                    entity="payment_method"
                    :label="$tc('payment_method')">
            </sw-entity-single-select>
        </div>
        <div>
            <sw-entity-single-select
                    v-if="form.data && form.data.active"
                    v-model:value="form.data.paymentStateId"
                    :value="form.data.paymentStateId"
                    entity="state_machine_state"
                    :criteria="paymentStateCriteria"
                    :label="$tc('payment_status')">
            </sw-entity-single-select>
        </div>
        <div v-if="form.data && form.data.active">
            <h4>{{ $tc('oder_delivery_update_status') }}</h4>
        </div>
        <div>
            <sw-entity-multi-id-select
                    v-if="form.data && form.data.active"
                    v-model:value="form.data.updateDeliveryState.shippedDeliveryStateIds"
                    :value="form.data.updateDeliveryState.shippedDeliveryStateIds"
                    :criteria="deliveryStateCriteria"
                    :repository="deliveryStatesRepository"
                    :label="$tc('delivery_shipped')">
            </sw-entity-multi-id-select>
        </div>
        <div>
            <sw-entity-multi-id-select
                    v-if="form.data && form.data.active"
                    v-model:value="form.data.updateDeliveryState.canceledDeliveryStateIds"
                    :value="form.data.updateDeliveryState.canceledDeliveryStateIds"
                    :criteria="deliveryStateCriteria"
                    :repository="deliveryStatesRepository"
                    :label="$tc('delivery_canceled')">
            </sw-entity-multi-id-select>
        </div>
        <div>
            <sw-entity-multi-id-select
                    v-if="form.data && form.data.active"
                    v-model:value="form.data.updateDeliveryState.returnedDeliveryStateIds"
                    :value="form.data.updateDeliveryState.returnedDeliveryStateIds"
                    :criteria="deliveryStateCriteria"
                    :repository="deliveryStatesRepository"
                    :label="$tc('delivery_returned')">
            </sw-entity-multi-id-select>
        </div>
        <div>
            <sm-zalando-connector-components-settings-logistic-center
                    v-if="form.data && form.data.active"
                    :value="form.data.logisticCenterId"
                    v-model:value="form.data.logisticCenterId"
            >
            </sm-zalando-connector-components-settings-logistic-center>
        </div>
        <div>
            <sw-entity-single-select
                    v-if="form.data && form.data.active"
                    v-model:value="form.data.returnTrackingCustomField"
                    :value="form.data.returnTrackingCustomField"
                    entity="custom_field"
                    :criteria="returnTrackingCustomFieldCriteria"
                    :label="$tc('return_tracking_number_custom_field')">
            </sw-entity-single-select>
        </div>
        <div>
            <sw-button
                    @click="saveData"
                    variant="primary"
                    size="small">
                {{ $tc('save') }}
            </sw-button>
        </div>
    </div>
{% endblock %}