<blur-section 
    gap
    padding>

    <div :style="viewStyle({
            mobile: { gridColumnEnd: 'span 12' },
        })">
        <mt-switch 
            class="blur-switch-input"
            :checked="arrowsConfig.active" 
            :label="$tc('blurElysiumSlider.config.arrows.active')" 
            @change="arrowsConfig.active = $event"/>
    </div>

</blur-section>

<blur-section 
    :title="$tc('blurElysium.general.appearance')"
    gap
    padding>

    <blur-select-input 
        :style="viewStyle({
            mobile: { gridColumnEnd: 'span 12' },
            tablet: { gridColumnEnd: 'span 6' },
        })"
        :label="$tc('blurElysiumSlider.config.arrows.icons.label')"
        :placeholder="$tc('blurElysiumSlider.config.arrows.icons.chevron')"
        :options="icons"
        v-model:value="arrowsConfig.icon.default" />

    <blur-number-input 
        :style="viewStyle({
            mobile: { gridColumnEnd: 'span 12' },
            tablet: { gridColumnEnd: 'span 6' },
        })"
        :model-value="arrowsViewportConfig.iconSize"
        @update-value="value => arrowsViewportConfig.iconSize = value"
        :placeholder="viewportsPlaceholder('arrows.iconSize', 24)"
        :label="$tc('blurElysiumSlider.config.arrows.size.label')"
        :show-device="true"
        :device="device"
        @on-device="cmsDeviceSwitch" />

    <blur-colorpicker
        :style="viewStyle({
            mobile: { gridColumnEnd: 'span 12' },
            tablet: { gridColumnEnd: 'span 6' },
            desktop: { gridColumnEnd: 'span 3' },
        })"
        :label="$tc('blurElysium.general.iconColor')"
        v-model:value="arrowsConfig.colors.default"
        colorOutput="auto"
        :alpha="true"
        :disabled="false"
        :colorLabels="true"
        :zIndex="1010" />

    <blur-colorpicker
        :style="viewStyle({
            mobile: { gridColumnEnd: 'span 12' },
            tablet: { gridColumnEnd: 'span 6' },
            desktop: { gridColumnEnd: 'span 3' },
        })"
        :label="$tc('blurElysium.general.iconColorActive')"
        v-model:value="arrowsConfig.colors.active"
        colorOutput="auto"
        :alpha="true"
        :disabled="false"
        :colorLabels="true"
        :zIndex="1010" />
                    
    <blur-colorpicker
        :style="viewStyle({
            mobile: { gridColumnEnd: 'span 12' },
            tablet: { gridColumnEnd: 'span 6' },
            desktop: { gridColumnEnd: 'span 3' },
        })"
        :label="$tc('blurElysium.general.bgColor')"
        v-model:value="arrowsConfig.bgColors.default"
        colorOutput="auto"
        :alpha="true"
        :disabled="false"
        :colorLabels="true"
        :zIndex="1010" />

    <blur-colorpicker
        :style="viewStyle({
            mobile: { gridColumnEnd: 'span 12' },
            tablet: { gridColumnEnd: 'span 6' },
            desktop: { gridColumnEnd: 'span 3' },
        })"
        :label="$tc('blurElysium.general.bgColorActive')"
        v-model:value="arrowsConfig.bgColors.active"
        colorOutput="auto"
        :alpha="true"
        :disabled="false"
        :colorLabels="true"
        :zIndex="1010" />

</blur-section>