<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Sandbox</title>
        <input-field type="bool">
            <name>zalandoSandboxMode</name>
            <label>activate sandbox mode</label>
            <label lang="de-DE">Testmodus aktivieren</label>
        </input-field>
    </card>
    <card>
        <title>Zalando LIVE APP</title>
        <input-field type="text">
            <name>zalandoClientId</name>
            <label>Client ID</label>
            <label lang="de-DE">Client Id</label>
        </input-field>
        <input-field type="password">
            <name>zalandoClientSecret</name>
            <label>Client Secret</label>
            <label lang="de-DE">Client Secret</label>
        </input-field>
        <input-field type="text">
            <name>zalandoMerchantId</name>
            <label>Merchant Id</label>
            <label lang="de-DE">Merchant Id</label>
        </input-field>
    </card>
    <card>
        <title>Zalando SANDBOX APP</title>
        <input-field type="text">
            <name>sandboxZalandoClientId</name>
            <label>Client ID</label>
            <label lang="de-DE">Client Id</label>
        </input-field>
        <input-field type="password">
            <name>sandboxZalandoClientSecret</name>
            <label>Client Secret</label>
            <label lang="de-DE">Client Secret</label>
        </input-field>
        <input-field type="text">
            <name>sandboxZalandoMerchantId</name>
            <label>Merchant Id</label>
            <label lang="de-DE">Merchant Id</label>
        </input-field>
    </card>
</config>