<div class="cms-block-blur-elysium-slider-preview">
    <img :src="assetFilter('/blurelysiumslider/static/img/cms-slider-element-preview.svg')"
        :style="{
            width: '100%'
        }">
</div>