<div class="blur-elysium-slide-selection-item"
    ref="selectItem"
    draggable
    @dragstart="startDrag($event)"
    @dragenter="enterDrag($event)"
    @dragend="endDrag($event)"
    @dragleave="leaveDrag($event)">
    
    <div class="blur-elysium-slide-selection-item-headerbar">

        <div class="blur-elysium-slide-selection-item-dragger"
            title="Drag slide">
            <blur-icon 
                name="blurph-dots-three-bold"
                :size="14" />
        </div>
    
        <div class="blur-elysium-slide-selection-item-slidename"
            v-html="slideName" />

        <div class="blur-elysium-slide-selection-item-actions">
            <div class="blur-elysium-slide-selection-item-action"
                @click="positionUp">
                <blur-icon 
                    name="blurph-caret-up"
                    :size="14" />
            </div>
            <div class="blur-elysium-slide-selection-item-action"
                @click="positionDown">
                <blur-icon 
                    name="blurph-caret-down"
                    :size="14" />
            </div>
            <div class="blur-elysium-slide-selection-item-action"
                @click="editSlide">
                <blur-icon 
                    name="blurph-pencil-simple-line"
                    :size="14" />
            </div>
            <div class="blur-elysium-slide-selection-item-action"
                @click="removeSlide">
                <blur-icon 
                    name="blurph-trash"
                    :size="14" />
            </div>
        </div>
    </div>
    <div class="blur-elysium-slide-selection-item-content">
        <div 
            class="blur-elysium-slide-selection-item-title"
            v-html="slideTitle" />
    </div>
</div>