
{% block blur_elysium_slide_image %}
    {% set containerClasses = [
        'blur-elysium-slide-image'
    ] %}
    {% set lazyLoading = lazyLoading|default(false) %}

    {% if imageMedia is not defined %}
        {% set imageMedia = slideData.presentationMedia %}
    {% endif %}

    {% block blur_elysium_slide_image_element %}
        {% if imageMedia %}           
            <div class="{{ containerClasses|join(' ') }}">
                {% sw_thumbnails 'elysium-slide-focus-image' with {
                    media: imageMedia,
                    attributes: {
                        'loading': lazyLoading === true ? 'lazy' : 'eager'
                    }
                } %}
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}