{% block sm_zalando_connector_extension_settings %}
    <div>
        {#        <br> #}
        {#        <h3>Settings</h3> #}
        {#        <sw-card title="Order Import"> #}
        {#            <sm-zalando-connector-extension-settings-orderImport></sm-zalando-connector-extension-settings-orderImport> #}
        {#        </sw-card> #}
        {#        <sw-card title="Stock Sync"> #}
        {#            <sm-zalando-connector-extension-settings-stockSync></sm-zalando-connector-extension-settings-stockSync> #}
        {#        </sw-card> #}
        {#        <sw-card title="Price Sync"> #}
        {#            <sm-zalando-connector-extension-settings-priceSync></sm-zalando-connector-extension-settings-priceSync> #}
        {#        </sw-card> #}
        {#        <sw-card title="Price Report Sync"> #}
        {#            <sm-zalando-connector-extension-settings-priceReportSync></sm-zalando-connector-extension-settings-priceReportSync> #}
        {#        </sw-card> #}

        {% block sm_zalando_connector_extension_settings_content_card_view %}
            <sw-card-view>
                {% block sm_zalando_connector_extension_settings_content_tabs %}
                    <sw-tabs>
                        {% block sm_zalando_connector_extension_settings_content_tabs_order %}
                            <sw-tabs-item :route="{ name: 'sm.zalando.connector.extension.settings.orderImport' }">
                                {{ $tc('settings.order-import') }}
                            </sw-tabs-item>
                        {% endblock %}

                        {% block sm_zalando_connector_extension_settings_content_tabs_stock %}
                            <sw-tabs-item :route="{ name: 'sm.zalando.connector.extension.settings.stockSync' }">
                                {{ $tc('settings.stock-sync') }}
                            </sw-tabs-item>
                        {% endblock %}

                        {% block sm_zalando_connector_extension_settings_content_tabs_price_sync %}
                            <sw-tabs-item :route="{ name: 'sm.zalando.connector.extension.settings.priceSync' }">
                                {{ $tc('settings.price-sync') }}
                            </sw-tabs-item>
                        {% endblock %}

                        {% block sm_zalando_connector_extension_settings_content_tabs_price_report_sync %}
                            <sw-tabs-item :route="{ name: 'sm.zalando.connector.extension.settings.priceReportSync' }">
                                {{ $tc('settings.price-reporting') }}
                            </sw-tabs-item>
                        {% endblock %}

                        {% block sm_zalando_connector_extension_settings_content_tabs_listing %}
                            <sw-tabs-item :route="{ name: 'sm.zalando.connector.extension.settings.listing' }">
                                {{ $tc('settings.listing') }}
                            </sw-tabs-item>
                        {% endblock %}
                    </sw-tabs>
                {% endblock %}

                {% block sm_zalando_connector_extension_settings_content_router_view %}
                    <sw-card
                            title="Zalando Connector"
                            subtitle="by shopmeister"
                            :hero="false"
                            :isLoading="false"
                            :large="false"
                            :avatar="null"
                            :headerRight="null"
                            :footer="null"
                            :toolbar="null"
                            default="
                                    <h3>Du brauchst Hilfe bei den Einstellungen?</h3>
                                    <p>Melde dich bei uns: service@shopmeister.org</p>
                                    "
                    >
                        <template slot="default">
                            <router-view/>
                        </template>
                    </sw-card>

                {% endblock %}

            </sw-card-view>
        {% endblock %}
        {#        <br> #}
        {#        <router-link :to="{ name: 'sm.zalando.connector.extension.settings.orderImport' }"> #}
        {#            order import #}
        {#        </router-link> #}
        {#        <br> #}
        {#        <router-link :to="{ name: 'sm.zalando.connector.extension.settings.stockSync' }"> #}
        {#            stock Sync #}
        {#        </router-link> #}
        {#        <br> #}
        {#        <router-link :to="{ name: 'sm.zalando.connector.extension.settings.priceSync' }"> #}
        {#            price Sync #}
        {#        </router-link> #}
        {#        <br> #}
        {#        <router-link :to="{ name: 'sm.zalando.connector.extension.settings.priceReportSync' }"> #}
        {#            priceReport Sync #}
        {#        </router-link> #}
        {#        <br> #}
        {#        #}{#        <a :to="{ name: 'sm.zalando.connector.extension.settings.orderImport' }">order import</a> #}
        {#        <div style="width: 100%; border-bottom: 2px solid #6f42c1; margin: 15px 0 15px 0;"></div> #}
        {#        <div> #}
        {#            <router-view/> #}
        {#        </div> #}
    </div>

{% endblock %}