<div>
    <sw-button-process
            :isLoading="isLoading"
            :processSuccess="isSaveSuccessful"
            @click="check()"
    >
        {{ $tc('sm-zalando-connector-components-settings-api-test-button.title') }}
    </sw-button-process>
</div>
