<div>
    <blur-elysium-cms-slide-skeleton 
        :title="slideSkeletonTitle"
        :description="slideSkeletonDescription" 
        :badge="'Elysium Banner'"
        :style="slideSkeletonStyles" />
</div>