<blur-section 
    gap
    padding
    :title="$tc('blurElysiumSlider.config.settings.general')">

    {% block blur_cms_config_elysium_slider_rewind %}
        <div :style="viewStyle({
                mobile: { gridColumnEnd: 'span 12' },
                desktop: { gridColumnEnd: 'span 3' },
            })">
            <mt-switch 
                class="blur-switch-input"
                :label="$tc('blurElysiumSlider.config.settings.rewind')"
                :checked="settingsConfig.rewind"
                @change="settingsConfig.rewind = $event" />
        </div>
    {% endblock %}

    {% block blur_cms_config_elysium_slider_overlay %}
        <div :style="viewStyle({
                mobile: { gridColumnEnd: 'span 12' },
                desktop: { gridColumnEnd: 'span 9' },
            })">
            <mt-switch 
                class="blur-switch-input"
                :label="$tc('blurElysiumSlider.config.settings.overlay')"
                :checked="settingsConfig.overlay"
                @change="settingsConfig.overlay = $event" />
        </div>
    {% endblock %}

    {% block blur_cms_config_elysium_slider_slides_per_page %}
        <blur-number-input 
            :style="viewStyle({
                mobile: { gridColumnEnd: 'span 12' },
                desktop: { gridColumnEnd: 'span 3' },
            })"
            :label="$tc('blurElysiumSlider.config.settings.slidesPerPage.label')"
            :placeholder="viewportsPlaceholder('settings.slidesPerPage', 1)"
            :min="1"
            :show-device="true"
            :device="device"
            :unit="false"
            @on-device="cmsDeviceSwitch"
            :model-value="settingsViewportConfig.slidesPerPage"
            @update-value="value => settingsViewportConfig.slidesPerPage = value" />
    {% endblock %}

    {% block blur_cms_config_elysium_slider_speed %}
        <blur-number-input 
            numberType="int" 
            :style="viewStyle({
                mobile: { gridColumnEnd: 'span 12' },
                desktop: { gridColumnEnd: 'span 3' },
            })"
            :label="$tc('blurElysiumSlider.config.settings.speed.label')"
            :step="null" 
            :min="300" 
            :max="null" 
            :digits="null"
            :allowEmpty="false"
            unit="ms"
            :model-value="settingsConfig.speed"
            @update-value="value => settingsConfig.speed = value" />                                   
    {% endblock %}

    {% block blur_cms_config_elysium_slider_container_width %}
        <blur-select-input
            v-model:value="settingsConfig.containerWidth"
            :style="viewStyle({
                mobile: { gridColumnEnd: 'span 12' },
                desktop: { gridColumnEnd: 'span 6' },
            })"
            :label="$tc('blurElysiumSlider.config.settings.containerWidth.label')"
            :help-text="$tc('blurElysiumSlider.config.settings.containerWidth.helpText')"
            :options="[
                { value: 'content', label: $tc('blurElysiumSlider.config.settings.containerWidth.content') },
                { value: 'full', label: $tc('blurElysiumSlider.config.settings.containerWidth.full') }
            ]" />
    {% endblock %}

</blur-section>

<blur-section 
    gap
    padding
    :title="$tc('blurElysiumSlider.config.settings.autoplay.label')">

    {% block blur_cms_config_elysium_slider_autoplay_active %}
        <div :style="viewStyle({
                mobile: { gridColumnEnd: 'span 12' },
                desktop: { gridColumnEnd: 'span 3' },
            })">
            <mt-switch 
                class="blur-switch-input"
                :label="$tc('blurElysiumSlider.config.settings.autoplay.active')" 
                :checked="settingsConfig.autoplay.active"
                @change="settingsConfig.autoplay.active = $event" />
        </div>
    {% endblock %}

    {% block blur_cms_config_elysium_slider_autoplay_pause_on_hover %}
        <div :style="viewStyle({
                mobile: { gridColumnEnd: 'span 12' },
                desktop: { gridColumnEnd: 'span 9' },
            })">
            <mt-switch 
                class="blur-switch-input"
                :label="$tc('blurElysiumSlider.config.settings.autoplay.pauseOnHover')" 
                :checked="settingsConfig.autoplay.pauseOnHover"
                @change="settingsConfig.autoplay.pauseOnHover = $event" />
        </div>
    {% endblock %}

    {% block blur_cms_config_elysium_slider_autoplay_timeout %}
        <blur-number-input 
            numberType="int" 
            :style="viewStyle({
                mobile: { gridColumnEnd: 'span 12' },
                desktop: { gridColumnEnd: 'span 3' },
            })"
            :label="$tc('blurElysiumSlider.config.settings.autoplay.interval.label')"
            :placeholder="$tc('blurElysiumSlider.config.settings.autoplay.interval.placeholder')"
            :step="null" 
            :min="200" 
            :max="null" 
            :digits="null"
            :allowEmpty="false"
            unit="ms"
            :model-value="settingsConfig.autoplay.interval"
            @update-value="value => settingsConfig.autoplay.interval = value" />
    {% endblock %}

</blur-section>