{% sw_extends '@Storefront/storefront/component/product/listing.html.twig' %}

{# @TODO: HC-Architecture... #}
{% block element_product_listing_row  %}
    {% if boxLayout == 'twt-list' %}
        {# ThemeWare® 'Listview' #listview #beta #}
        {% block twt_product_listing_layout_list %}
            <div class="twt-listing-layout-list js-listing-wrapper">
                {% if searchResult.total > 0 %}
                    {% for product in searchResult %}
                        {% sw_include '@Storefront/storefront/component/product/card/box-twt-list.html.twig' with {
                            layout: boxLayout,
                            displayMode: displayMode
                        } %}
                    {% endfor %}

                {% else %}
                    <div class="cms-listing-col col-12">
                        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                            type: 'info',
                            content: 'listing.emptyResultMessage'|trans|sw_sanitize
                        } %}
                    </div>

                {% endif %}
            </div>
        {% endblock %}

    {% else %}
        {# Default block #}
        {{ parent() }}

    {% endif %}
{% endblock %}