{% block swag_amazon_pay_configiguration_component_insecure_domain_notification %}
    <div>
        {% block swag_amazon_pay_configiguration_component_insecure_domain_notification_warning %}
            <sw-alert v-if="hasInsecureDomains"
                      variant="warning"
                      :title="$tc('global.default.info')"
                      :showIcon="true"
                      :closable="false">
                <div class="swag-amazon-pay-configuration-text">
                    {{ $tc('swag-amazon-pay-configuration.insecureDomainNotification.salesChannel') }}

                    {% block swag_amazon_pay_configiguration_component_insecure_domain_notification_warning_domains %}
                        <ul>
                            <li v-for="item in insecureDomains[salesChannelId]">
                                {{ item }}
                            </li>
                        </ul>
                    {% endblock %}

                </div>
            </sw-alert>
        {% endblock %}

    </div>
{% endblock %}
