{# ThemeWare® 'Announcement banner' content #}
{#
    @Storefront/storefront/themeware/includes/twt-announcement-banner-include.html.twig
#}

{# @TODO: Blöcke prüfen... #}

{# ---------------- START: SET TEMPLATE VARS ---------------- #}

{# ThemeWare: Set theme variables #}
{% set useDefaultCookieConsent = config('core.basicInformation.useDefaultCookieConsent') %}

{% set twtAnnouncementBannerClosable = theme_config('twt-announcement-banner-closable') %}
{% set twtAnnouncementBannerLink = theme_config('twt-announcement-banner-link') %}
{% set twtAnnouncementBannerLinkNewTab = theme_config('twt-announcement-banner-link-newtab') %}
{% set twtAnnouncementBannerLinkNofollow = theme_config('twt-announcement-banner-link-nofollow') %}

{# ---------------- END: SET TEMPLATE VARS ---------------- #}

{% block twt_announcement_banner_row %}
    <div class="twt-announcement-banner-row row">

        {% block twt_announcement_banner_content %}
            {% if twtAnnouncementBannerLink == 2 %}
                <a href="{{ 'twt.extension.announcementBanner.link'|trans }}"
                   class="twt-announcement-banner-content content is-link"
                   {% if twtAnnouncementBannerLinkNewTab == 2 %}target="_blank"{% endif %}
                   rel="noopener{% if twtAnnouncementBannerLinkNofollow == 2 %} nofollow{% endif %}"
                >
                    {{ 'twt.extension.announcementBanner.content'|trans|raw }}
                </a>

            {% else %}
                <p class="content">
                    {{ 'twt.extension.announcementBanner.content'|trans|raw }}
                </p>

            {% endif %}
        {% endblock %}

        {# INFO: Add a close button if the default cookie notification of Shopware is used and the 'Announcement banner' is configured "closable" #}
        {% block twt_announcement_banner_close_button %}
            {% if useDefaultCookieConsent and twtAnnouncementBannerClosable == 2 %}
                <div class="close">
                    {% block twt_announcement_banner_close_button_icon %}
                        {% sw_icon 'x' style {
                            ariaLabel: 'twt.general.close'|trans
                        } %}
                    {% endblock %}
                </div>
            {% endif %}
        {% endblock %}

    </div>
{% endblock %}