{# ThemeWare® 'Grid guides' #}

{# @TODO: Check theme config (layouts) and adjust max-width accordingly. #}
<div id="twt-grid-guides" class="twt-grid-guides" style="max-width: 1400px;">
    {# <hr class="twt-grid-guide is-horizontal" style="top: 8.33333333%;"> #}
    <hr class="twt-grid-guide is-horizontal" style="top: 12.5%;">
    {# <hr class="twt-grid-guide is-horizontal" style="top: 16.66666667%;"> #}
    <hr class="twt-grid-guide is-horizontal is-sub" style="top: 25%;">
    {# <hr class="twt-grid-guide is-horizontal" style="top: 33.33333333%;"> #}
    <hr class="twt-grid-guide is-horizontal" style="top: 37.5%;">
    {# <hr class="twt-grid-guide is-horizontal" style="top: 41.66666667%;"> #}
    <hr class="twt-grid-guide is-horizontal is-main" style="top: 50%;">
    {# <hr class="twt-grid-guide is-horizontal" style="top: 58.33333333%;"> #}
    <hr class="twt-grid-guide is-horizontal" style="top: 62.5%;">
    {# <hr class="twt-grid-guide is-horizontal" style="top: 66.66666667%;"> #}
    <hr class="twt-grid-guide is-horizontal is-sub" style="top: 75%;">
    {# <hr class="twt-grid-guide is-horizontal" style="top: 83.33333333%;"> #}
    <hr class="twt-grid-guide is-horizontal" style="top: 87.5%;">
    {# <hr class="twt-grid-guide is-horizontal" style="top: 91.66666667%;"> #}

    <hr class="twt-grid-guide is-vertical" style="left: 8.33333333%;">
    {# <hr class="twt-grid-guide is-vertical" style="left: 12.5%;"> #}
    <hr class="twt-grid-guide is-vertical" style="left: 16.66666667%;">
    <hr class="twt-grid-guide is-vertical is-sub" style="left: 25%; ">
    <hr class="twt-grid-guide is-vertical" style="left: 33.33333333%;">
    {# <hr class="twt-grid-guide is-vertical" style="left: 37.5%;"> #}
    <hr class="twt-grid-guide is-vertical" style="left: 41.66666667%;">
    <hr class="twt-grid-guide is-vertical is-main" style="left: 50%; ">
    <hr class="twt-grid-guide is-vertical" style="left: 58.33333333%;">
    {# <hr class="twt-grid-guide is-vertical" style="left: 62.5%;"> #}
    <hr class="twt-grid-guide is-vertical" style="left: 66.66666667%;">
    <hr class="twt-grid-guide is-vertical is-sub" style="left: 75%;;">
    <hr class="twt-grid-guide is-vertical" style="left: 83.33333333%;">
    {# <hr class="twt-grid-guide is-vertical" style="left: 87.5%;"> #}
    <hr class="twt-grid-guide is-vertical" style="left: 91.66666667%;">
</div>