/* ThemeWare: Grid guides */

.twt-grid-guides {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    transform: translate(-50%, 0);
    pointer-events: none;
    border-right: 2px solid magenta;
    border-left: 2px solid magenta;

    hr {
        position: absolute !important;
        margin: 0;
        opacity: .2;

        &.is-vertical {
            top: 0px;
            width: 0px;
            height: 100%;
            border-left: 1px dotted magenta;

            &.is-main {
                opacity: 1;
                border-left: 1px solid magenta;
            }

            &.is-sub {
                opacity: .5;
                border-left: 1px dashed magenta;
            }

        }

        &.is-horizontal {
            left: 0px;
            width: 100%;
            border-top: 1px dotted magenta;

            &.is-main {
                opacity: 1;
                border-top: 1px solid magenta;
            }

            &.is-sub {
                opacity: .5;
                border-top: 1px dashed magenta;
            }

        }

    }
}