{% block sm_zalando_connector_extension_main %}
    <sw-page>
        {% block sm_zalando_connector_extension_main_header %}
            <template #smart-bar-header>
                <div style="display: flex">
                    <h2>Zalando Connector</h2>
                    <sm-zalando-connector-components-settings-api-test-button
                            style="margin-left: auto;"></sm-zalando-connector-components-settings-api-test-button>
                </div>
            </template>
        {% endblock %}

        {% block sm_zalando_connector_extension_main_content %}
            <template #content>
                {% block sm_zalando_connector_extension_main_tabs_content %}
                    <router-view/>
                {% endblock %}
                {#                </sw-card-view> #}
            </template>
        {% endblock %}

    </sw-page>
{% endblock %}