<sw-page>

    <template #smart-bar-back>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        <router-link
            v-if="parentRoute"
            class="smart-bar__back-btn"
            :to="{ name: parentRoute }"
        >
            <sw-icon
                name="regular-chevron-left"
                color="#999999"
                small
            />
            <sw-icon
                name="regular-cog"
                color="#758CA3"
                small
            />
        </router-link>
    </template>

    <template #smart-bar-header>
        <h2>
            {{ $tc('sw-settings.index.title') }}
            <sw-icon
                name="regular-chevron-right-xs"
                small
            />
            {{ $tc('blurElysium.settings.label') }}
        </h2>
    </template>

    <template #smart-bar-actions>
        <sw-button
            variant="primary"
            class="sw-extension-config__save-action"
            :disabled="!permissonEdit"
            @click.prevent="onSave"
        >
            {{ $tc('global.default.save') }}
        </sw-button>
    </template>

    <template #content>

        <sw-card-view>

            <sw-system-config
                ref="systemConfig"
                sales-channel-switchable
                domain="BlurElysiumSlider.breakpoints">

                <template #beforeElements="{ card, config }">
                    <div
                        v-html="$tc('blurElysium.settings.breakpointsDescription')" 
                        :style="{
                            fontSize: '14px',
                            lineHeight: '1.5',
                            marginBottom: '30px'
                        }"/>
                </template>

            </sw-system-config>

        </sw-card-view>
    </template>
</sw-page>