{# ThemeWare® footer element 'Payment/Shipping' container #}
{#
	Create footer column and include payment/shipping widgets (content)

    @Storefront/storefront/themeware/footer-elements/twt-paymentshipping.html.twig
#}

{# @TODO: Blöcke prüfen... #}
{# @TODO: Kommentare prüfen, ergänzen... #}
{# @TODO: Footer-Elemente zusammenfassen (sh. twt-sidebar-widgets) #}

{% block twt_layout_footer_paymentshipping %}
	{# Add column classes #}
	{% if newcol == '2' %}
		{% set blockClasses = ['col-md-12'] %}
	{% elseif newcol == '3' %}
		{% set blockClasses = ['col-md-6'] %}
	{% else %}
		{# INFO: Add column classes for tablet viewports #}
		{% if columns == columnsTablet %}
			{% set blockClasses = ['col-md-' ~ columns] %}
		{% else %}
			{% set blockClasses = ['col-xl-' ~ columns, 'col-md-' ~ columnsTablet] %}
		{% endif %}
	{% endif %}

	{# Add default classes #}
	{% set blockClasses = ['footer-column', 'footer-column-paymentshipping']|merge(blockClasses) %}

	{# Add toggle class #}
	{% if toggle != '4' %}
		{% set blockClasses = ['js-footer-column']|merge(blockClasses) %}
	{% endif %}

	{# Add element class and element number #}
	{% set blockClasses = ['twt-element-' ~ elementid, 'twt-element-paymentshipping']|merge(blockClasses) %}

	{# Permanently expanded #}
	{% if toggle == '4' %}
		{% set blockClasses = ['permanent']|merge(blockClasses) %}
	{% endif %}

	{# Add class 'first' to last element #}
	{% if first == true %}
		{% set blockClasses = ['first']|merge(blockClasses) %}
	{% endif %}

	{# Add class 'last' to last element #}
	{% if last == true %}
		{% set blockClasses = ['last']|merge(blockClasses) %}
	{% endif %}

	{# #beta: The name may change in the next major release! #}
	{% block twt_layout_footer_paymentshipping_inner %}
		<div class="{{ blockClasses|reverse|join(' ') }}">

			{% block twt_layout_footer_paymentshipping_headline %}
				<div class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger{% if toggle == '2' %} show{% endif %}"
					 id="collapseFooterPaymentshippingTitle"
					 data-bs-target="#collapseFooterPaymentshipping"
					 aria-expanded="true"
					 aria-controls="collapseFooterPaymentshipping"
					 role="listitem"
				>
					{{ 'twt.widget.paymentshipping.headline'|trans|sw_sanitize }}

					{% block twt_layout_footer_paymentshipping_icons %}
						{% if toggle != '4' %}
							<div class="footer-column-toggle">
								<span class="footer-plus-icon">
									{% sw_icon 'plus' style {
										ariaLabel: 'general.expand'|trans
									} %}
								</span>
								<span class="footer-minus-icon">
									{% sw_icon 'minus' style {
										ariaLabel: 'general.collapse'|trans
									} %}
								</span>
							</div>
						{% endif %}
					{% endblock %}

				</div>
			{% endblock %}

			{% block twt_layout_footer_paymentshipping_content %}
				<div id="collapseFooterPaymentshipping"
					 class="footer-column-content{% if toggle != '4' %} js-footer-column-content collapse{% endif %}{% if toggle == '2' %} show{% endif %} footer-logos-column"
					 aria-labelledby="collapseFooterPaymentshippingTitle"
					 role="listitem"
				>
					<div class="footer-column-content-inner">
						{% sw_include '@Storefront/storefront/themeware/widgets/twt-paymentshipping-include.html.twig' ignore missing with {
							type: 'footer'
						} %}
					</div>
				</div>
			{% endblock %}

		</div>
	{% endblock %}
{% endblock %}