{% sw_extends '@Storefront/storefront/layout/header/search.html.twig' %}
{# ThemeWare® HC-Architecture® ready #}

{# ---------------- START: SET TEMPLATE VARS ---------------- #}

{# ThemeWare: Set theme variables #}
{% set twtHeaderSearchType = theme_config('twt-header-search-type') %}
{% set twtIconSet = theme_config('twt-iconset') %}

{# ---------------- END: SET TEMPLATE VARS ---------------- #}

{# ThemeWare: Adjustments to the header search #}
{% block layout_header_search_input_group %}
	{# Default search #}
	{{ parent() }}

	{# ThemeWare: Add button for 'Full screen search' #}
	{% block twt_layout_header_search_toggle %}
		{% if twtHeaderSearchType == 4 %}
			<button class="btn header-actions-btn search-toggle-btn js-search-toggle-btn collapsed d-none"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#searchCollapse"
					aria-expanded="false"
					aria-controls="searchCollapse"
					aria-label="{{ 'header.searchButton'|trans|striptags }}"
			>
				{# @TODO tag:v6.7.0 - Check if ariaHidden is needed #}
				{% if twtIconSet is not same as ('default') %}
					{% sw_icon 'x' style { pack: 'themeware' } %}
				{% else %}
					{% sw_icon 'x' %}
				{% endif %}
			</button>
		{% endif %}
	{% endblock %}
{% endblock %}


{% block layout_header_search_button %}
	<button type="submit"
			class="btn header-search-btn"
			aria-label="{{ 'header.searchButton'|trans|striptags }}"
	>
		<span class="header-search-icon">
			{# ThemeWare: Replace icon #}
			{# @TODO tag:v6.7.0 - Check if ariaHidden is needed #}
			{% if twtIconSet is not same as ('default') %}
				{% sw_icon 'search' style { pack: 'themeware' } %}
			{% else %}
				{% sw_icon 'search' %}
			{% endif %}
		</span>
	</button>
{% endblock %}