{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-address.html.twig' %}

{% set isAmazonPayOneClickCheckout = (page.extensions.SwagAmazonPayConfirm and page.extensions.SwagAmazonPayConfirm.checkoutSessionId) %}

{# Change shipping edit link if Amazon Pay is active #}
{% block  page_checkout_confirm_address_shipping_actions_link %}
    {% if isAmazonPayOneClickCheckout %}
        {% block  page_checkout_confirm_address_shipping_actions_link_amazon_pay_change_shipping %}
            <a id="swag-amazon-pay-change-shipping"
                title="{{ "account.overviewChangeShipping"|trans|striptags }}"
                class="btn btn-light">
                 {{ "account.overviewChangeShipping"|trans|sw_sanitize }}
             </a>
        {% endblock %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
